@import 'variables.scss';

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $background1, $background2);
}

#quote-box {
    padding: 0.5rem 1rem;
    max-width: 90vw;
    margin: 5rem auto;
}

#poemtitle {
    font-size: xx-large;
    margin-top: 1.5rem;
}

#text {
    font-size: x-large;
}

.qasida {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    direction: rtl;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
    font-size: x-large;
/*
    .ajuz {
        font-size: x-large;

    }
    
    .sadr {
        font-size: x-large;
    }
*/
}


#author {
    text-align: right;
}

#source {
    @extend #author;
}

#card-actions {
    display: flex;
    justify-content: space-between;
}