@import 'variables.scss';

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, $background1, $background2);
}

#quote-box {
    padding: 0.5rem 1rem;
    max-width: 80vw;
    margin: 5rem auto;
}

#poemtitle {
    font-size: xx-large;
    margin-top: 1.5rem;
}

#text {
    font-size: x-large;
}

#author {
    text-align: right;
}

#source {
    @extend #author;
}

#card-actions {
    display: flex;
    justify-content: space-between;
}